@model SisPrestamo.Prestamo

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro que quiere eliminar esto?</h3>
<fieldset>
    <legend>Prestamo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cliente.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cliente.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Importe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Importe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tasa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tasa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Plazo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Plazo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo_prestamo.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo_prestamo.tipo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volver a la lista", "Index")
    </p>
}
